<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script  src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-theme.css" />
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-4">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
